/* Подключаем переменный шрифт для обычного (normal) начертания */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-VF.woff2') format('woff2 supports variations'),
         url('fonts/Montserrat-VF.woff2') format('woff2-variations');
    font-weight: 100 900; /* Это очень важно: указываем диапазон весов, который есть в шрифте */
    font-style: normal;
    font-display: swap; /* Критически важно для производительности */
}

/* Подключаем переменный шрифт для курсивного (italic) начертания */
@font-face {
    font-family: 'Montserrat';
    src: url('fonts/Montserrat-Italic-VF.woff2') format('woff2 supports variations'),
         url('fonts/Montserrat-Italic-VF.woff2') format('woff2-variations');
    font-weight: 100 900; /* Диапазон весов для курсива */
    font-style: italic;
    font-display: swap;
}


:root {
  --bs-font-sans-serif: 'Montserrat', sans-serif;
}